USE [master]
GO
/****** Object:  Database [Bangazon]    Script Date: 11/12/2018 8:07:49 PM ******/
CREATE DATABASE [Bangazon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bangazon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Bangazon.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bangazon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Bangazon_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bangazon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bangazon]
GO
USE [Bangazon]
GO
/****** Object:  Table [dbo].[computer]    Script Date: 11/12/2018 8:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[computer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[purchase_date] [datetime] NOT NULL,
	[decommissioned] [datetime] NULL,
	[employee_id] [int] NULL,
	[in_use] [bit] NOT NULL,
	[is_malfunctioning] [bit] NOT NULL,
 CONSTRAINT [PK__computer__3213E83FCBD1F7B0] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 11/12/2018 8:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[first_name] [varchar](255) NOT NULL,
	[last_name] [varchar](255) NOT NULL,
	[date_joined] [datetime] NOT NULL,
	[active] [bit] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__customer__3213E83F85423B68] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[department]    Script Date: 11/12/2018 8:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[department](
	[name] [varchar](255) NOT NULL,
	[expense_budget] [int] NOT NULL,
	[supervisor_id] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__departme__3213E83F9F8D443F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 11/12/2018 8:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[name] [varchar](255) NOT NULL,
	[is_supervisor] [bit] NOT NULL,
	[department_id] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__employee__3213E83FEA1746C8] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_training_program_pair]    Script Date: 11/12/2018 8:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_training_program_pair](
	[training_program_id] [int] NOT NULL,
	[employee_id] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__employee__3213E83F8599B7FD] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_product_pair]    Script Date: 11/12/2018 8:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_product_pair](
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__order_pr__3213E83F5FC92363] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 11/12/2018 8:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[customer_id] [int] NOT NULL,
	[order_status] [bit] NOT NULL,
	[can_complete] [bit] NOT NULL,
	[payment_type_id] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__orders__3213E83F4CF09FF0] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_type]    Script Date: 11/12/2018 8:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_type](
	[account_number] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__payment___3213E83FD0F55F83] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 11/12/2018 8:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[category] [int] NOT NULL,
	[price] [decimal](18, 0) NOT NULL,
	[title] [varchar](255) NOT NULL,
	[description] [varchar](255) NOT NULL,
	[quantity] [int] NOT NULL,
	[owner_id] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__product__3213E83F9BE391B5] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_types]    Script Date: 11/12/2018 8:07:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_types](
	[category] [varchar](255) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__product___3213E83FD4D7E369] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[training_programs]    Script Date: 11/12/2018 8:07:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[training_programs](
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[max_attendees] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__training__3213E83F6BB37FB3] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[computer] ON 

INSERT [dbo].[computer] ([id], [purchase_date], [decommissioned], [employee_id], [in_use], [is_malfunctioning]) VALUES (1, CAST(N'2016-06-04T00:00:00.000' AS DateTime), NULL, 1, 1, 0)
INSERT [dbo].[computer] ([id], [purchase_date], [decommissioned], [employee_id], [in_use], [is_malfunctioning]) VALUES (2, CAST(N'2017-07-12T00:00:00.000' AS DateTime), NULL, 2, 1, 0)
INSERT [dbo].[computer] ([id], [purchase_date], [decommissioned], [employee_id], [in_use], [is_malfunctioning]) VALUES (3, CAST(N'2016-08-15T00:00:00.000' AS DateTime), NULL, 3, 1, 0)
SET IDENTITY_INSERT [dbo].[computer] OFF
SET IDENTITY_INSERT [dbo].[customer] ON 

INSERT [dbo].[customer] ([first_name], [last_name], [date_joined], [active], [id]) VALUES (N'Trashishsa', N'Maxwell', CAST(N'2010-11-23T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[customer] ([first_name], [last_name], [date_joined], [active], [id]) VALUES (N'Sam', N'Poodles', CAST(N'1999-12-02T00:00:00.000' AS DateTime), 1, 2)
INSERT [dbo].[customer] ([first_name], [last_name], [date_joined], [active], [id]) VALUES (N'Barry', N'Blues', CAST(N'2018-12-02T00:00:00.000' AS DateTime), 1, 3)
SET IDENTITY_INSERT [dbo].[customer] OFF
SET IDENTITY_INSERT [dbo].[department] ON 

INSERT [dbo].[department] ([name], [expense_budget], [supervisor_id], [id]) VALUES (N'HumanResources', 50000, NULL, 1)
INSERT [dbo].[department] ([name], [expense_budget], [supervisor_id], [id]) VALUES (N'IT', 100000, NULL, 2)
INSERT [dbo].[department] ([name], [expense_budget], [supervisor_id], [id]) VALUES (N'Sales', 150000, NULL, 3)
SET IDENTITY_INSERT [dbo].[department] OFF
SET IDENTITY_INSERT [dbo].[employee] ON 

INSERT [dbo].[employee] ([name], [is_supervisor], [department_id], [id]) VALUES (N'Frank', 1, 1, 1)
INSERT [dbo].[employee] ([name], [is_supervisor], [department_id], [id]) VALUES (N'James', 0, 2, 2)
INSERT [dbo].[employee] ([name], [is_supervisor], [department_id], [id]) VALUES (N'Jimothy', 0, 3, 3)
SET IDENTITY_INSERT [dbo].[employee] OFF
SET IDENTITY_INSERT [dbo].[employee_training_program_pair] ON 

INSERT [dbo].[employee_training_program_pair] ([training_program_id], [employee_id], [id]) VALUES (1, 1, 3)
INSERT [dbo].[employee_training_program_pair] ([training_program_id], [employee_id], [id]) VALUES (2, 2, 4)
INSERT [dbo].[employee_training_program_pair] ([training_program_id], [employee_id], [id]) VALUES (3, 3, 5)
SET IDENTITY_INSERT [dbo].[employee_training_program_pair] OFF
SET IDENTITY_INSERT [dbo].[order_product_pair] ON 

INSERT [dbo].[order_product_pair] ([order_id], [product_id], [id]) VALUES (1, 5, 2)
INSERT [dbo].[order_product_pair] ([order_id], [product_id], [id]) VALUES (2, 6, 3)
INSERT [dbo].[order_product_pair] ([order_id], [product_id], [id]) VALUES (2, 7, 4)
SET IDENTITY_INSERT [dbo].[order_product_pair] OFF
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([customer_id], [order_status], [can_complete], [payment_type_id], [id]) VALUES (1, 1, 1, 1, 1)
INSERT [dbo].[orders] ([customer_id], [order_status], [can_complete], [payment_type_id], [id]) VALUES (2, 0, 0, 2, 2)
INSERT [dbo].[orders] ([customer_id], [order_status], [can_complete], [payment_type_id], [id]) VALUES (3, 1, 1, 3, 3)
SET IDENTITY_INSERT [dbo].[orders] OFF
SET IDENTITY_INSERT [dbo].[payment_type] ON 

INSERT [dbo].[payment_type] ([account_number], [customer_id], [id]) VALUES (12345, 1, 1)
INSERT [dbo].[payment_type] ([account_number], [customer_id], [id]) VALUES (23456, 2, 2)
INSERT [dbo].[payment_type] ([account_number], [customer_id], [id]) VALUES (34567, 3, 3)
SET IDENTITY_INSERT [dbo].[payment_type] OFF
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([category], [price], [title], [description], [quantity], [owner_id], [id]) VALUES (1, CAST(2 AS Decimal(18, 0)), N'thing12', N'thing12 is great', 1, 1, 5)
INSERT [dbo].[product] ([category], [price], [title], [description], [quantity], [owner_id], [id]) VALUES (2, CAST(45 AS Decimal(18, 0)), N'thing365', N'thing365 smells', 2, 2, 6)
INSERT [dbo].[product] ([category], [price], [title], [description], [quantity], [owner_id], [id]) VALUES (3, CAST(10000 AS Decimal(18, 0)), N'computer1', N'computer1 is great', 5, 3, 7)
SET IDENTITY_INSERT [dbo].[product] OFF
SET IDENTITY_INSERT [dbo].[product_types] ON 

INSERT [dbo].[product_types] ([category], [id]) VALUES (N'Bicycle', 1)
INSERT [dbo].[product_types] ([category], [id]) VALUES (N'Airplanes', 2)
INSERT [dbo].[product_types] ([category], [id]) VALUES (N'Computers', 3)
SET IDENTITY_INSERT [dbo].[product_types] OFF
SET IDENTITY_INSERT [dbo].[training_programs] ON 

INSERT [dbo].[training_programs] ([start_date], [end_date], [max_attendees], [id]) VALUES (CAST(N'2018-02-01T00:00:00.000' AS DateTime), CAST(N'2018-03-02T00:00:00.000' AS DateTime), 5, 1)
INSERT [dbo].[training_programs] ([start_date], [end_date], [max_attendees], [id]) VALUES (CAST(N'2017-04-02T00:00:00.000' AS DateTime), CAST(N'2017-04-27T00:00:00.000' AS DateTime), 20, 2)
INSERT [dbo].[training_programs] ([start_date], [end_date], [max_attendees], [id]) VALUES (CAST(N'2018-03-03T00:00:00.000' AS DateTime), CAST(N'2018-04-04T00:00:00.000' AS DateTime), 40, 3)
SET IDENTITY_INSERT [dbo].[training_programs] OFF
ALTER TABLE [dbo].[computer]  WITH CHECK ADD  CONSTRAINT [FK__computer__employ__160F4887] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employee] ([id])
GO
ALTER TABLE [dbo].[computer] CHECK CONSTRAINT [FK__computer__employ__160F4887]
GO
ALTER TABLE [dbo].[department]  WITH CHECK ADD  CONSTRAINT [FK__departmen__super__0C85DE4D] FOREIGN KEY([supervisor_id])
REFERENCES [dbo].[employee] ([id])
GO
ALTER TABLE [dbo].[department] CHECK CONSTRAINT [FK__departmen__super__0C85DE4D]
GO
ALTER TABLE [dbo].[employee]  WITH CHECK ADD  CONSTRAINT [FK__employee__depart__0B91BA14] FOREIGN KEY([department_id])
REFERENCES [dbo].[department] ([id])
GO
ALTER TABLE [dbo].[employee] CHECK CONSTRAINT [FK__employee__depart__0B91BA14]
GO
ALTER TABLE [dbo].[employee_training_program_pair]  WITH CHECK ADD  CONSTRAINT [FK__employee___emplo__0D7A0286] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employee] ([id])
GO
ALTER TABLE [dbo].[employee_training_program_pair] CHECK CONSTRAINT [FK__employee___emplo__0D7A0286]
GO
ALTER TABLE [dbo].[employee_training_program_pair]  WITH CHECK ADD  CONSTRAINT [FK__employee___train__0E6E26BF] FOREIGN KEY([training_program_id])
REFERENCES [dbo].[training_programs] ([id])
GO
ALTER TABLE [dbo].[employee_training_program_pair] CHECK CONSTRAINT [FK__employee___train__0E6E26BF]
GO
ALTER TABLE [dbo].[order_product_pair]  WITH CHECK ADD  CONSTRAINT [FK__order_pro__order__123EB7A3] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_product_pair] CHECK CONSTRAINT [FK__order_pro__order__123EB7A3]
GO
ALTER TABLE [dbo].[order_product_pair]  WITH CHECK ADD  CONSTRAINT [FK__order_pro__produ__1332DBDC] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[order_product_pair] CHECK CONSTRAINT [FK__order_pro__produ__1332DBDC]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK__orders__customer__114A936A] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK__orders__customer__114A936A]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK__orders__payment___151B244E] FOREIGN KEY([payment_type_id])
REFERENCES [dbo].[payment_type] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK__orders__payment___151B244E]
GO
ALTER TABLE [dbo].[payment_type]  WITH CHECK ADD  CONSTRAINT [FK__payment_t__custo__10566F31] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([id])
GO
ALTER TABLE [dbo].[payment_type] CHECK CONSTRAINT [FK__payment_t__custo__10566F31]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK__product__categor__0F624AF8] FOREIGN KEY([category])
REFERENCES [dbo].[product_types] ([id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK__product__categor__0F624AF8]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK__product__owner_i__14270015] FOREIGN KEY([owner_id])
REFERENCES [dbo].[customer] ([id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK__product__owner_i__14270015]
GO
USE [master]
GO
