.div-sidebar {
  margin-top: 75px;
  width: 90%;
}

.sidebar-button {
  display: inline-block;
  /* margin: 0.3em; */
  padding: 6px 2px 6px 2px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  width: 100%;
  box-shadow: 0px 0px 0px 0px black;
  transition: box-shadow 0.15s linear;
  margin: 0.5em;
  border: none;
  background: #fffcfc; /* Old browsers */
  background: -moz-linear-gradient(left, #fffcfc 0%, #e5ebee 33%, #d7dee3 61%, #fffcfc 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #fffcfc 0%,#e5ebee 33%,#d7dee3 61%,#fffcfc 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #fffcfc 0%,#e5ebee 33%,#d7dee3 61%,#fffcfc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.sidebar-button:hover {
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 1);
}
.sidebar-button:focus {
  outline: none;
}

.sidebar-active {
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
}