.div-sidebar {
  margin-top: 75px;
  width: 100%;
}

.sidebar-button {
  display: inline-block;
  /* margin: 0.3em; */
  padding: 6px 2px 6px 2px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  width: 100%;
  box-shadow: 0px 0px 0px 0px black;
  transition: box-shadow 0.15s linear;
  margin: 0.5em; /* Increased margin since the box-shado expands outside the element, like outline */
  border: 3px solid white;
  background-color: white;
}

.sidebar-button:hover {
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 1);
}
.sidebar-button:focus {
  outline: none;
}

.sidebar-active {
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
}